body {
  font-family: Arial, sans-serif;
}
.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

input {
  margin: 10px 0;
  padding: 5px;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.card img {
  width: 100%;
  height: auto;
}
